header {
    position: absolute;
    display: flex;
    width: 100%;
    height: 30px;
    pointer-events: none;

    button {
        height: 100%;
        pointer-events: auto; 
    }

    .github {
        margin-left: auto;
        background-color: transparent;
        border: none;
        padding: 0;

        img {
            height: 100%;
            padding: 3px 3px 0 3px;
        }        
    }
}
