header {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: min-content;
    display: flex;

    h1 {
        pointer-events: auto; 
        margin: auto 0 auto 3px;
        padding-bottom: 5px;
        font-size: 2em;
    }

    button {
        pointer-events: auto; 
        height: 100%;
        width: 40px;
        background-color: transparent;
        border: none; 

        &.hamburger {
            padding: 7px;
        }

        &.github {
            margin-left: auto;  
            padding: 2px;
        }
    }
}
