.drawer {
    position: absolute;
    width: min-content;
    background-color: white;
    transition-duration: 0.5s;
    padding: 25px 10px 10px 10px ;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-bottom-right-radius: 5px;

    h1 {
        margin-bottom: 0;
        font-size: 22px;
        white-space: nowrap;
    }

    img {
        height: 40px;
        display: flex;
        margin: 0 auto 0 auto;
    }

    h2 {
        margin-bottom: 0;
        font-size: 16px;
    }

    .flex {
        display: flex;
        div {
            margin-left: 5px;
        }
    }
}
