.drawer {
    position: absolute;
    width: min-content;

    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 10px;

    transition-duration: 0.5s;
    background-color: white;
    padding: 50px 10px 10px 10px; // set top to match header
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-bottom-right-radius: 5px;
        
    h2 {
        font-size: 1em;
        margin-top: 0;
        margin-bottom: 0;
        white-space: nowrap;
    }
    
    .flex {
        display: flex;
    }

    .buckets {
        margin-left: 5px;
    }

    input[type='checkbox'] { 
        margin-left: 0;
        margin-right: 5px;
    }

    .error {
        height: 1.4em;
        margin-left: 5px;
    }
}  
